GEMINI_API_KEY=isi_dengan_api_key_anda
GEMINI_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=BAAI/bge-m3
EMBEDDING_DEVICE=cuda
CHROMA_COLLECTION=galaxichat_docs

LLM_PROVIDER=gemini
GROQ_API_KEY=isi_dengan_api_key_groq_anda
GROQ_MODEL=llama-3.3-70b-versatile